.theme-coral {
  --color: #f87070;
}

.theme-sky {
  --color: #70f3f8;
}

.theme-purple {
  --color: #d881f8;
}

.font-kumbh {
  --font-family: "Kumbh Sans";
}

.font-roboto {
  --font-family: "Roboto Slab";
}

.font-space {
  --font-family: "Space Mono";
}

body {
  margin: 0;
  background-color: #1e213f;
  overflow: hidden;
}

#main {
  height: 100%;
  width: 100%;
  position: absolute;
  font-family: "Kumbh Sans";
  font-style: normal;
  font-family: var(--font-family);
}

.logo {
  margin-top: 52px;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  font-weight: 700;
  color: #d7e0ff;
}

.mode-parent {
  margin: 0 auto;
  max-width: 400px;
  margin-top: 52px;
}

.mode {
  cursor: pointer;
  display: flex;
  justify-content: center;
  background-color: #161932;
  border-radius: 31.5px;
}

.mode p {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 17px;
  font-size: 14px;
  font-weight: 700;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 19px;
  padding-bottom: 15px;
  border-radius: 27px;
}

.mode p:hover {
  opacity: 1;
}

.mode-pomodoro {
  margin-left: 7px;
  color: #d7e0ff;
  opacity: 0.4;
}

.mode-short {
  margin-left: 7px;
  color: #d7e0ff;
  opacity: 0.4;
}

.mode-long {
  color: #d7e0ff;
  margin-left: 7px;
  margin-right: 7px;
  opacity: 0.4;
}

.active {
  opacity: 1;
  color: #1e213f;
  background: #f87070;
  background-color: var(--color);
}

.clock {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 454px;
  height: 454px;
  padding: 15px;
  margin-top: 52px;
  border-radius: 50%;
  background: linear-gradient(315deg, #2e325a 0%, #0e112a 100%);
  box-shadow: -50px -50px 100px #272c5a, 50px 50px 100px #121530;
}

.clock-background {
  width: 410px;
  height: 410px;
  border-radius: 50%;
  border: 10px solid #161932;
  background-color: #161932;
}

.clock-circle {
  stroke-width: 15px;
  stroke: #f87070;
  fill: #161932;
  transform-origin: center;
  transform: rotate(-90deg);
  transition: stroke-dashoffset 0.3s;
  stroke: var(--color);
}

.clock-time {
  position: absolute;
  top: 410px;
  font-size: 100px;
  line-height: 124px;
  letter-spacing: -5px;
  font-weight: 700;
  color: #d7e0ff;
  margin-top: 52px;
}

.clock-mode {
  cursor: pointer;
  position: absolute;
  top: 585px;
  margin-left: 20px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 15px;
  color: #d7e0ff;
  font-weight: 700;
}

.clock-start:hover {
  color: var(--color);
}

.clock-pause:hover {
  color: var(--color);
}

.clock-restart:hover {
  color: var(--color);
}

.clock-reset:hover {
  color: var(--color);
}

.setting-gear {
  margin-top: 63px;
  text-align: center;
  mix-blend-mode: normal;
  opacity: 0.4;
}
.setting-gear img {
  cursor: pointer;
}

@media (max-width: 670px) {
  .logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }
  .mode {
    margin-left: 24px;
    margin-right: 24px;
  }
  .mode p {
    margin-left: 0;
    margin-right: 0;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    white-space: nowrap;
  }
  .clock {
    width: 300px;
    height: 300px;
  }
  .clock-background {
    width: 260px;
    height: 260px;
  }
  .clock-circle {
    position: absolute;
    stroke-width: 10px;
    border-radius: 50%;
  }
  .clock-time {
    top: 310px;
    font-weight: 700;
    font-size: 70px;
    line-height: 95px;
    letter-spacing: -4px;
  }
  .clock-mode {
    top: 465px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 13;
  }
}/*# sourceMappingURL=main.css.map */