.theme-coral {
  --color: #f87070;
}

.theme-sky {
  --color: #70f3f8;
}

.theme-purple {
  --color: #d881f8;
}

.font-kumbh {
  --font-family: "Kumbh Sans";
}

.font-roboto {
  --font-family: "Roboto Slab";
}

.font-space {
  --font-family: "Space Mono";
}

.modal {
  display: none;
  margin: 0 auto;
  position: relative;
  bottom: 710px;
  z-index: 20;
  height: auto;
  max-width: 600px;
  border-radius: 26px;
  background-color: #ffffff;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e3e1e1;
}

.header-logo {
  font-size: 28px;
  line-height: 35px;
  color: #161932;
  font-weight: 700;
  margin-left: 40px;
  margin-top: 33px;
  padding-bottom: 32px;
}

.header-escape {
  cursor: pointer;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-right: 38px;
  margin-top: 47px;
  padding-bottom: 32px;
}

.modal-time-type {
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 5px;
  color: #161932;
  margin-top: 28px;
  margin-left: 40px;
  font-weight: 700;
}

.modal-timing {
  margin-left: 40px;
  margin-right: 38px;
  margin-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e3e1e1;
}
.modal-timing p {
  margin: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  color: #161932;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.modal-timing input {
  margin-top: 9px;
  width: 140px;
  height: auto;
  border: none;
  background-color: #eff1fa;
  outline: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 16px;
  border-radius: 10px;
}
.modal-timing input::-webkit-outer-spin-button,
.modal-timing input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.timing-modes {
  display: grid;
  grid-template-columns: 185px 185px 185px;
}

.timing-inputs {
  display: grid;
  grid-template-columns: 185px 185px 185px;
}

.timing-button {
  position: relative;
  left: 120px;
  bottom: 38px;
}
.timing-button img {
  display: block;
  cursor: pointer;
}

.time-down {
  margin-top: 9px;
}

.modal-font {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  margin-right: 38px;
  margin-top: 40px;
  padding-bottom: 35px;
  border-bottom: 1px solid #e3e1e1;
}

.font-logo {
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 5px;
  color: #161932;
}

.font-list span {
  cursor: pointer;
  margin-left: 16px;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  mix-blend-mode: normal;
  border-radius: 50%;
  padding: 15px;
}

.font-kumbh-sans {
  font-family: "Kumbh Snash";
  font-weight: 700;
  background-color: #eff1fa;
  color: #1e213f;
  opacity: 0.73;
}

.font-roboto-slab {
  font-family: "Roboto Slab";
  font-weight: 400;
  background-color: #eff1fa;
  color: #1e213f;
  opacity: 0.73;
}

.font-space-mono {
  font-family: "Space Mono";
  font-weight: 700;
  background-color: #eff1fa;
  color: #1e213f;
  opacity: 0.73;
}

.active-font {
  opacity: 1;
  color: #ffffff;
  background-color: #161932;
}

.modal-color {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  margin-right: 38px;
  margin-top: 40px;
  margin-bottom: 32px;
}

.color-logo {
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 5px;
  color: #161932;
}

.color-list div {
  cursor: pointer;
  display: inline-block;
  margin-left: 20px;
}

.color-coral {
  background-color: #f87070;
  border-radius: 50%;
}

.color-imagen-first {
  padding: 15px;
  opacity: 0;
}

.color-sky {
  background-color: #70f3f8;
  border-radius: 50%;
}

.color-imagen-second {
  opacity: 0;
  padding: 15px;
}

.color-purple {
  background-color: #d881f8;
  border-radius: 50%;
}

.color-imagen-third {
  opacity: 0;
  padding: 15px;
}

.active-theme {
  opacity: 1;
}

.modal-button {
  position: relative;
  top: 24px;
  left: 230px;
}

.button-apply {
  outline: none;
  border: none;
  background: #f87070;
  border-radius: 26px;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding-left: 47px;
  padding-right: 47px;
  padding-bottom: 12px;
  padding-top: 20px;
  background-color: var(--color);
}

.overlay {
  position: absolute;
  background: rgba(10, 12, 28, 0.5);
  width: 150vw;
  height: 150vh;
  z-index: 10;
  display: none;
}

.show {
  display: block;
}

.hide {
  display: none;
}

@media (max-width: 670px) {
  .modal {
    max-width: 350px;
    top: -610px;
  }
  .header-logo {
    padding-bottom: 0;
    margin: 24px;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
  }
  .header-escape {
    padding-bottom: 0;
    margin: 24px;
  }
  .modal-time-type {
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
    text-align: center;
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 5px;
  }
  .modal-timing {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-top: 18px;
    margin-left: 24px;
    margin-right: 24px;
  }
  .modal-timing div {
    display: flex;
    align-items: center;
  }
  .modal-timing p {
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    white-space: nowrap;
  }
  .modal-timing input {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 120px;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    color: #161932;
  }
  .timing-modes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .timing-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .timing-button {
    display: flex;
    flex-direction: column;
    position: relative;
    left: -40px;
    top: 5px;
  }
  .modal-font {
    margin-left: 24px;
    margin-right: 24px;
    display: block;
    margin-top: 24px;
    text-align: center;
  }
  .font-logo {
    margin-left: 20px;
    margin-bottom: 33px;
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 5px;
  }
  .modal-color {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 10px;
    display: block;
    margin-top: 24px;
    text-align: center;
  }
  .color-logo {
    margin-left: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 5px;
  }
  .modal-button {
    position: relative;
    top: 24px;
    left: 115px;
  }
}/*# sourceMappingURL=modal.css.map */