@import 'theme.scss';

// Colors
$background-basic: #ffffff;
$background-minor: #eff1fa;
$color-coral: #f87070;
$color-black: #161932;
$opacity-to-color: 0.5;
$opacity-color: 0.73;
$border-line: 1px solid#e3e1e1;

// Backdowns
$margin-tiny: 9px;
$margin-tiny-small: 20px;
$margin-small: 24px;
$margin-medium: 33px;
$margin-medium-big: 38px;
$margin-big: 40px;
$margin-large: 82px;
$padding-small: 15px;
$padding-medium: 20px;
$position-small: 38px;
$position-medium: 120px;
$tiny-backdown: 16px;
$small-backdown: 24px;
$small-medium-backdown: 32px;
$medium-backdown: 47px;
$radius-little: 26px;
$radius-circle: 50%;

// Fonts
$font-very-tiny: 11px;
$font-tiny: 13px;
$font-small: 15px;
$font-weight-bold: 700;
$line-height-small: 15px;
$line-height-medium: 20px;
$letter-spacing-core: 5px;

.modal {
   display: none;
   margin: 0 auto;
   position: relative;
   bottom: 710px;
   z-index: 20;
   height: auto;
   max-width: 600px;
   border-radius: $radius-little;
   background-color: $background-basic;
}

// Header Section

.modal-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: $border-line;
}

.header-logo {
   font-size: 28px;
   line-height: 35px;
   color: $color-black;
   font-weight: $font-weight-bold;
   margin-left: $margin-big;
   margin-top: $margin-medium;
   padding-bottom: $small-medium-backdown;
}

.header-escape {
   cursor: pointer;
   mix-blend-mode: normal;
   opacity: $opacity-to-color;
   margin-right: $margin-medium-big;
   margin-top: $medium-backdown;
   padding-bottom: $small-medium-backdown;
}

// Time-Type Section

.modal-time-type {
   font-size: $font-small;
   line-height: $line-height-small;
   letter-spacing: $letter-spacing-core;
   color: $color-black;
   margin-top: 28px;
   margin-left: $margin-big;
   font-weight: $font-weight-bold;
}

// Timig Section

.modal-timing {
   display: flex;
   justify-content: space-between;
   margin-left: $margin-big;
   margin-right: $margin-medium-big;
   margin-top: $small-backdown;
   padding-bottom: $small-backdown;
   border-bottom: $border-line;

   p {
      margin: 0;
      font-weight: $font-weight-bold;
      font-size: $font-small;
      line-height: $line-height-small;
      color: $color-black;
      mix-blend-mode: normal;
      opacity: $opacity-to-color;
   }

   input {
      margin-top: $margin-tiny;
      width: 140px;
      height: auto;
      border: none;
      background-color: $background-minor;
      outline: none;
      padding-top: $padding-medium;
      padding-bottom: $padding-medium;
      padding-left: $tiny-backdown;
      border-radius: 10px;
   }
   input::-webkit-outer-spin-button,
   input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
   }
}

.timing-button {
   position: relative;
   left: $position-medium;
   bottom: $position-small;

   img {
      display: block;
      cursor: pointer;
   }
}

.time-down {
   margin-top: $margin-tiny;
}

// Font Section

.modal-font {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-left: $margin-big;
   margin-right: $margin-medium-big;
   margin-top: $margin-big;
   padding-bottom: 35px;
   border-bottom: $border-line;
}

.font-logo {
   font-weight: $font-weight-bold;
   font-size: $font-tiny;
   line-height: $line-height-small;
   letter-spacing: $letter-spacing-core;
   color: $color-black;
}

.font-list {
   span {
      cursor: pointer;
      margin-left: $tiny-backdown;
      font-style: normal;
      font-size: $font-small;
      line-height: $line-height-medium;
      mix-blend-mode: normal;
      border-radius: $radius-circle;
      padding: $padding-small;
   }
}

.font-kumbh-sans {
   font-family: 'Kumbh Snash';
   font-weight: $font-weight-bold;
   background-color: $background-minor;
   color: #1e213f;
   opacity: $opacity-color;
}

.font-roboto-slab {
   font-family: 'Roboto Slab';
   font-weight: 400;
   background-color: $background-minor;
   color: #1e213f;
   opacity: $opacity-color;
}

.font-space-mono {
   font-family: 'Space Mono';
   font-weight: $font-weight-bold;
   background-color: $background-minor;
   color: #1e213f;
   opacity: $opacity-color;
}

.active-font {
   opacity: 1;
   color: $background-basic;
   background-color: $color-black;
}

// Color Section

.modal-color {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-left: $margin-big;
   margin-right: $margin-medium-big;
   margin-top: $margin-big;
   margin-bottom: $small-medium-backdown;
}

.color-logo {
   font-weight: $font-weight-bold;
   font-size: $font-tiny;
   line-height: $line-height-small;
   letter-spacing: $letter-spacing-core;
   color: $color-black;
}

.color-list {
   div {
      cursor: pointer;
      display: inline-block;
      margin-left: $margin-tiny-small;
   }
}

.color-coral {
   background-color: $color-coral;
   border-radius: $radius-circle;
}

.color-imagen-first {
   padding: $padding-small;
   opacity: 0;
}

.color-sky {
   background-color: #70f3f8;
   border-radius: $radius-circle;
}

.color-imagen-second {
   opacity: 0;
   padding: $padding-small;
}

.color-purple {
   background-color: #d881f8;
   border-radius: $radius-circle;
}

.color-imagen-third {
   opacity: 0;
   padding: $padding-small;
}

.active-theme {
   opacity: 1;
}

// Button Section

.modal-button {
   position: relative;
   top: $small-backdown;
   left: 230px;
}

.button-apply {
   outline: none;
   border: none;
   background: $color-coral;
   border-radius: $radius-little;
   font-weight: $font-weight-bold;
   font-size: $font-small;
   line-height: $line-height-medium;
   text-align: center;
   color: $background-basic;
   padding-left: $medium-backdown;
   padding-right: $medium-backdown;
   padding-bottom: 12px;
   padding-top: $padding-medium;
   background-color: var(--color);
}

.overlay {
   position: absolute;
   background: rgba(10, 12, 28, 0.5);
   width: 150vw;
   height: 150vh;
   z-index: 10;
   display: none;
}

.show {
   display: block;
}

.hide {
   display: none;
}

// Modal Adaptation

@media (max-width: 670px) {
   // Modal Section

   .modal {
      max-width: 350px;
      top: -610px;
   }

   // Header Section

   .header-logo {
      padding-bottom: 0;
      margin: $margin-small;
      font-weight: $font-weight-bold;
      font-size: 20px;
      line-height: 25px;
   }

   .header-escape {
      padding-bottom: 0;
      margin: $margin-small;
   }

   // Type Time Section

   .modal-time-type {
      margin-top: $margin-small;
      margin-left: $margin-small;
      margin-right: $margin-small;
      text-align: center;
      font-weight: $font-weight-bold;
      font-size: $font-very-tiny;
      line-height: $line-height-small;
      text-align: center;
      letter-spacing: $letter-spacing-core;
   }

   // Timing Section

   .modal-timing {
      display: block;
      margin: 0;
      margin-top: 18px;
      margin-left: $margin-small;
      margin-right: $margin-small;

      div {
         display: flex;
         justify-content: flex-end;
         align-items: center;
      }

      p {
         font-weight: $font-weight-bold;
         font-size: $font-very-tiny;
         line-height: $line-height-small;
         white-space: nowrap;
      }

      input {
         padding-top: $padding-small;
         padding-bottom: $padding-small;
         width: 120px;
         font-weight: $font-weight-bold;
         font-size: $font-tiny;
         line-height: $line-height-small;
         color: $color-black;
      }
   }

   [data-mode='pomodoro'] {
      input {
         margin-left: $margin-large;
      }
   }

   [data-mode='shortBreak'] {
      input {
         margin-left: $margin-large;
      }
   }

   [data-mode='longBreak'] {
      input {
         margin-left: $margin-large;
      }
   }

   .timing-button {
      display: flex;
      flex-direction: column;
      position: relative;
      left: -40px;
      top: 5px;
   }

   // Font Section

   .modal-font {
      margin-left: $margin-small;
      margin-right: $margin-small;
      display: block;
      margin-top: $margin-small;
      text-align: center;
   }

   .font-logo {
      margin-left: $margin-tiny-small;
      margin-bottom: $margin-medium;
      font-weight: $font-weight-bold;
      font-size: $font-very-tiny;
      line-height: $line-height-small;
      letter-spacing: $letter-spacing-core;
   }

   // Color Section

   .modal-color {
      margin-left: $margin-small;
      margin-right: $margin-small;
      margin-bottom: 10px;
      display: block;
      margin-top: $margin-small;
      text-align: center;
   }

   .color-logo {
      margin-left: $margin-tiny-small;
      margin-bottom: $margin-tiny-small;
      font-weight: $font-weight-bold;
      font-size: $font-very-tiny;
      line-height: $line-height-small;
      letter-spacing: $letter-spacing-core;
   }

   // Button Section

   .modal-button {
      position: relative;
      top: $small-backdown;
      left: 115px;
   }
}
